{% extends "base.html" %}
{% block title %}
Listado productos
{% endblock title %}


{{% block content %}
<nav>
<!-- Este if permite regresar a la pagina anterior-->
    {% if products.has_previous %}
        <a href="?page={{ products.previous_page_number}}">Prev</a>
    {% endif %}
<!-- Este for muestra todas las paginas-->
    {% for i in products.paginator.page_range%}
        <a href="?page={{ products.i}}">{{i}}</a>
    {% endfor %}
<!-- Este if permite ir a la pagina siguiente-->
        {% if products.has_next %}
        <a href="?page={{ products.next_page_number}}">Next</a>
    {% endif %}

</nav>
{% endblock content %}}




